.contiene-el-spiner{
  @include flexbox;       
  @include flex-direction(column);
  @include align-items(center); 
  width:45px;
}

.cssload-container {
  width: 30px;
  height: 30px;
  text-align: center;
}

.cssload-tube-tunnel {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  border: 4px solid;
  border-radius: 50%;
  border-color: $color-3;
  animation: cssload-scale 1035ms infinite linear;
    -o-animation: cssload-scale 1035ms infinite linear;
    -ms-animation: cssload-scale 1035ms infinite linear;
    -webkit-animation: cssload-scale 1035ms infinite linear;
    -moz-animation: cssload-scale 1035ms infinite linear;
}