/*  I M Á G E N E S  */

.background_img{
 
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position:relative;
}

.background_img_fixed{
 background-attachment: fixed; 
}

/* E s   u n a   c a p a   t r a n s p a r e n t e   p a r a   o s c u r e c e r    l a   i m a g e n  */
.background-layer-layoute-opasity{
  background-color: rgba(0, 0, 0, 0.38);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

/* S e   u s a   p a r a   l a s  p o r t a d a s */
.imagen-portada-altura-100vh{
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* A j u s t a   l a   im a g e n   s u   a l t u r a   y   s u    w i d t h */
.img-cover{
  width: 100%;    
  object-fit: cover;
  display: block;   
}

/* S e   u s a   p a r a   i m a g e n e s   e n   m i n i a t u r a s   c o n 
  i m g - c o v e r */

$altura-imagen-miniaturas:150px; /* D e f i n o   l a   a l t u r a */

.img-altura-chica{
  height:$altura-imagen-miniaturas;
}
.img-altura-normal{
  height:$altura-imagen-miniaturas*1.5;
}
.img-altura-grande{
  height:$altura-imagen-miniaturas*2;
}


/* L a s   u s o   p a r a   l a s   e n t i d a d e s   t i p o   l o g o s */
.img-cover-con-formato-cuadrado{
  width:150px;    
  height: 150px;
  object-fit: cover;
  display: block;   
}
  @media (min-width: $BrackPoint-Secundario){
    .img-cover-con-formato-cuadrado{
      width:180px;    
      height:180px;       
    }
  } 

  @media (min-width: $BrackPoint-Tercer){
    .img-cover-con-formato-cuadrado{
      width:200px;    
      height: 200px;       
    }
  }





/*  B a c k g r o u n d s  */

.background-primary{
  background-color: $color-3;
}

.background-white{
  background-color: $color-white;
}

.background-gris-00{
  background-color: $color-grey-2;
}

.background-gris-0{
  background-color: $color-grey-1;
}

.background-gris-1{
  background-color: $color-grey0;
}

.background-gris-2{
  background-color: $color-grey1;
}

.background-gris-3{
  background-color: $color-grey2;
}

.background-gris-4{
  background-color: $color-grey3;
}

.background-black{
  background-color: $color-black;
}