.Genera-margin-para-para-ajustar-contenido-con-elementos-fixed-en{
  margin-top: 56px;
}

.Padding-de-secciones{
      padding: 30px 10px;
}

.Titulos-de-secciones{
  color:$color-black;
  font-family:$font-secondary;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;

}













@media (min-width: $BrackPoint-Secundario){

    .Genera-margin-para-para-ajustar-contenido-con-elementos-fixed-en{
  margin-top: 80.8px;
}

  
}

@media (min-width: $BrackPoint-Tercer){



  
}