.Padding-de-secciones{
      padding: 30px 10px;
}

.Titulos-de-secciones{
	color:$color-black;
	font-family:$font-secondary;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 15px;

}













@media (min-width: $BrackPoint-Secundario){

    .Padding-de-secciones{
      padding: 40px;
     }

  
}

@media (min-width: $BrackPoint-Tercer){



  
}