.Genera-margin-para-para-ajustar-contenido-con-elementos-fixed-en{
  margin-top: 56px;
}

.portada-home-contiene-textos{
  width: 100%;
  padding:10px;
}

.portada-home-contiene-imagen{
  display: none;

}












@media (min-width: $BrackPoint-Secundario){


.portada-home-contiene-textos{
  width: 49%;
  padding:10px;
}

.portada-home-contiene-imagen{
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center); 
    @include justify-content(space-around); 

}
  
}

@media (min-width: $BrackPoint-Tercer){



  
}