
.icono-de-uruguay{
  width:30px;
  height:30px;
  border-radius:100%;
  margin-right:5px;
  border:solid 1px $color-grey1;
}

.Padding-de-secciones{
      padding: 45px 10px;
}

.Titulos-de-secciones{
	color:$color-black;
	font-family:$font-secondary;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 15px;

}

/* S e c c i o n e s */


.seccion-servicios-home{
  background-image: url("../../imagenes/Backgrounds/be-fitness-uruguay-servicios-a-gimnasios.jpg");
  height: 100vh;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  @include flexbox;       
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-around);
}

.logo-float-easy-socio-portada{
  position: absolute;  
  display: block;
  height: 35px;
  bottom: 10%;
  right: 4%;
}



/* B o t o n e s */
.Boton-general-diseño{
  border:2px solid $color-2;
  width: 200px;
  margin-top: 5px;
  text-align: center;
  letter-spacing: 1.5px;
}













@media (min-width: $BrackPoint-Secundario){

    .Padding-de-secciones{
      padding: 40px;
     }

  
}

@media (min-width: $BrackPoint-Tercer){
.Boton-general-diseño{
  
  width: 200px;
  text-align: center;
  letter-spacing: 1.5px;
  margin-top: 0px;
  margin-right: 10px;
}


  
}