
.icono-de-uruguay{
  width:30px;
  height:30px;
  border-radius:100%;
  margin-right:5px;
  border:solid 1px $color-grey1;
}

.Padding-de-secciones{
      padding: 45px 10px;
}

.Titulos-de-secciones{
	color:$color-black;
	font-family:$font-secondary;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 25px;

}

/* S e c c i o n e s */

.Secciones-contenedor-texto{
 width:98%;
 padding:20px 10px;
}

.secciones-personalizada-h2{
 font-size:   40px;
 font-weight: 900;
 font-family:$font-primary;
 letter-spacing:-3px;
}

/* H o m e   s e r v i c i o s */
.seccion-servicios-home{
  
  min-height: 40vh;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position:relative;
}

.servicios-background{
  background-image: url("../../imagenes/Backgrounds/be-fitness-uruguay-servicios-a-gimnasios.jpg");
}

.somos-background{
  background-image: url("../../imagenes/Backgrounds/be-fitness-uruguay-servicios-a-gimnasios-2.jpg");
}



.contenedor-logo-absolut{
  position: absolute;
  bottom: 10%;
  right: 0;
  width:100%;
  background-color:transparent;
}

.logo-easy-socio-portada{
  display: block;
  height: 35px;
}

.logo-float-easy-socio-portada-right{
  position: absolute;  
  display: block;
  height: 35px;
  bottom: 10%;
  right: 4%;
}

.logo-float-easy-socio-portada-left{
  position: absolute;  
  display: block;
  height: 35px;
  bottom: 10%;
  left: 4%;
}



/* B o t o n e s */
.Boton-general-diseño{
  border:2px solid $color-2;
  min-width: 200px;
  margin-top: 5px;
  text-align: center;
  letter-spacing: 1.5px;
  font-size:14px;
  font-family:$font-secondary;
  border-radius:0;
  position:relative;
  z-index:4;
  padding: 12px 30px;


}













@media (min-width: $BrackPoint-Secundario){

    .Padding-de-secciones{
      padding: 40px 0;
     }


     .Secciones-contenedor-texto{
      width:50%;
      padding:20px 10px;
      }

     .secciones-personalizada-h2{
       font-size: 70px;
     }


     .Titulos-de-secciones{
      font-size:26px;
     }

  
}

@media (min-width: $BrackPoint-Tercer){
.Boton-general-diseño{
  
  
  margin-top: 0px;
  margin-right: 10px;
}


  
}