.Genera-margin-para-para-ajustar-contenido-con-elementos-fixed-en{
  margin-top: 56px;
}

.portada-contiene-portada-general{
  width: 100%;

}

.portada-home-contiene-textos{
  width: 100%;
  padding:70px 30px;
}

.portada-home-contiene-imagen{
  display: none;
}

 .portada-home-imagen{
  padding:60px;
  max-width: 100%;
    height: auto;

 }

.contiene-listado-de-opciones-portada{
  width: 100%;
  padding:4px 2px 4px 15px;
  @include flexbox;       
  @include flex-direction(column);
  @include align-items(flex-start); 
  margin-bottom: 30px;
  margin-top: 10px;
  list-style: none;

}

.contiene-item{
    width: 100%;
    margin-top: 4px;
    font-size: 12px;   
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center);  
}

.contiene-item::before{
    content: "\025b6";    
    color:$color-3;  
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}



  .contiene-item{
    width: 100%;
    margin-top: 4px;
    font-size: 12px;   
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center);  
  }

   .contiene-item-icono{
    color:$color-3;
    margin-right: 15px;
    font-size: 10px;
   }
   .contiene-item-texto{
    color:$color-gris-text;
    font-size: 14px;
    letter-spacing: 1.4px;
   }












@media (min-width: $BrackPoint-Secundario){


.portada-home-contiene-textos{
  width: 49%;
  padding:10px;
}

.portada-home-contiene-imagen{
    @include flexbox;       
    @include flex-direction(row);
    @include align-items(center); 
    @include justify-content(space-around); 
    width: 49%;

}

.portada-contiene-portada-general{
  width: 100%;
  min-height: 100vh;
  
}

.Genera-margin-para-para-ajustar-contenido-con-elementos-fixed-en{
  margin-top: 80.8px;
}
  
}

@media (min-width: $BrackPoint-Tercer){



  
}